.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
    width: 50rem;
    border-radius: 2rem;
    background-color: blue;
}

.title {
    color: aliceblue;
    font-size: 3rem;
}

.nav {
    margin: 1rem;
    font-size: 1.5rem;
}

a {
    color: chartreuse;
}

a:visited {
    color: chartreuse;
}