.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: dimgrey;
    margin: 2rem;
    padding: 1rem;
    min-width: 20rem;
    max-width: 20rem;
    gap: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

.movie-card>img {
    height: 20rem;
}

.movie-card>h1 {
    font-size: 2rem;
    text-align: center;
    color: black;
}

.movie-card>h3 {
    font-size: 1.3rem;
    color: crimson;
}

.movie-card>p {
    max-width: 20rem;
    text-align: center;
}