.movie-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.watchlist {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, .8);
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    padding: 2rem;
    z-index: 1;
}

.watchlist>h1 {
    font-size: 3rem;
    color: aliceblue;
}