.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-bottom: solid red .4rem;
    min-height: 20rem;
    max-height: 50rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    overflow-y: hidden;
    color: aliceblue;
}

.box>img {
    max-width: 90%;
    min-width: 50%;
    max-height: 50rem;
}

.before {
    opacity: 0;
    transform: translateY(10rem);
    transition: opacity 1s, transform 1s;
}

.hello-world {
    transform: translateY(0);
    opacity: 1;
}