[submodule "Unit_1/ticTacToe"]
	path = Unit_1/ticTacToe
	url = https://github.com/eliotmjohnson/DMSpecs-Project-1
[submodule "Unit_2/projectTwo"]
	path = Unit_2/projectTwo
	url = https://github.com/eliotmjohnson/DMSpecs-Project-2
[submodule "Unit_3/projectThree"]
	path = Unit_3/projectThree
	url = https://github.com/eliotmjohnson/DMSpecs-Project-3
[submodule "Unit_4/projectFour"]
	path = Unit_4/projectFour
	url = https://github.com/eliotmjohnson/DMSpecs-Project-4
[submodule "Unit_5/projectFive"]
	path = Unit_5/projectFive
	url = https://github.com/eliotmjohnson/DMSpecs-Project-5
