.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 10rem;
    border: solid blue .5rem;
    border-radius: 3rem;
    color: aliceblue;
}

.before {
    opacity: 0;
}

.hello-world {
    opacity: 1;
}