.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.name {
    font-size: 4rem;
}

.sub-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    width: 20rem;
    gap: 1rem;
    padding: 1rem;
    border-bottom: solid black .3rem;
}

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hobbies>h2 {
    font-size: 2rem;
}

