.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0, .3);
    min-width: 35rem;
    min-height: 25rem;
    margin: 2rem;
    margin-top: 0;
    border-radius: 1rem;
}