.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 2rem;
    padding-right: 0;
    height: 8rem;
    border-bottom: .2rem solid aliceblue;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.header h1 {
    font-size: 4rem;
    color: aliceblue;
    position: relative;
    z-index: 1;
}

.logo{
    height: 20rem;
    opacity: .4;
    position: absolute;
    right: 10rem;
    transform: rotate(10deg);
}

.header-logo{
    height: 4rem;
}

#lol {
    color: aliceblue;
}

@keyframes fun {
    0% {
        scale: .92;
        border-radius: 2rem;
        rotate: -6deg;
    }

    5% {
        rotate: 4deg;
    }

    10% {
        rotate: -3deg;
    }

    20% {
        rotate: 2deg;
    }

    40% {
        rotate: -1deg;
    }

    70% {
        rotate: 0deg;
    }

    90% {
        rotate: 0deg;
    }

    100% {
        rotate: 0deg;
    }
}

.header-animation {
    animation-name: fun;
    animation-duration: 1s;
    animation-timing-function: linear;
    background-color: red;
}

@media only screen and (max-width: 500px) {
    .header-logo{
        display: none;
    }
    .logo{
        height: 20rem;
        opacity: .4;
        position: absolute;
        left: 2rem;
        transform: rotate(10deg);
    }
}