.header {
    display: flex;
    justify-content: center;
    background-color: #000814;
    position: relative;
    padding: 2rem;
}

.header>h1 {
    font-size: 4rem;
    color: #FFD60A;
}

.button-container {
    display: flex;
    top: 0;
    height: 8rem;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
}
.button-container>button {
    width: 7rem;
    height: 3rem;
    margin: 5rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0px 10px rgb(255, 255, 255);
}