.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000814;
    margin: 2rem;
    padding: 1rem;
    min-width: 20rem;
    max-width: 20rem;
    height: 40rem;
    gap: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0);
    border-radius: 1rem;
}

.watchlist-card {
    box-shadow: 0 0 2rem 0 aliceblue;
}

.movie-card>img {
    height: 20rem;
}

.movie-card>h1 {
    font-size: 2rem;
    text-align: center;
    text-shadow: 0px 0px 10px white;
    color: #FFD60A;
}

.movie-card>h3 {
    font-size: 1.3rem;
    color: #215f99;
}

.movie-card>p {
    display: -webkit-box;
    max-width: 20rem;
    text-align: center;
    color: rgb(226, 58, 58);
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6
}

.movie-card>button {
    height: 3rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    background-color: #FFD60A;
    border: solid 1px black;
    color: #000814;
}