.movie-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.watchlist-container {
    padding-bottom: 3rem;
}

.watchlist {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .9);
    backdrop-filter: blur(5px);
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 2rem;
    z-index: 1;
}

.watchlist>h1 {
    font-size: 3rem;
    color: crimson;
}