.movie-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity .4s;
}

.movie-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
}

.buttons>button {
    width: 7rem;
    height: 3rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0px 10px rgb(255, 255, 255);
}

.movie-display-appear {
    opacity: 1;
}

.watchlist-container {
    padding-bottom: 3rem;
}

.watchlist {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .9);
    backdrop-filter: blur(5px);
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 2rem;
    z-index: 1;
}

.watchlist>h1 {
    font-size: 3rem;
    color: crimson;
}