@font-face {
    font-family: lobster;
    src: url(../assets/Fonts/Lobster-Regular.ttf);
}

* {
    cursor: default;
}

body {
    font-family: lobster;
    background-color: black;
}

.pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
}