.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.header>h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 2rem;
    height: inherit;
    width: 20rem;
}