.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D05353;
    padding: 2rem;
    height: 4rem;
}

.header h1 {
    font-size: 3rem;
    color: #F9E784;
}

#lol {
    color: royalblue;
}

@keyframes fun {
    0% {
        scale: .8;
        rotate: -10deg;
    }

    5% {
        rotate: 20deg;
    }

    10% {
        rotate: -12deg;
    }

    20% {
        rotate: 10deg;
    }

    40% {
        rotate: -6deg;
    }

    70% {
        rotate: 3deg;
    }

    90% {
        rotate: -1deg;
    }

    100% {
        rotate: 0deg;
    }
}

.header-animation {
    animation-name: fun;
    animation-duration: 2s;
    animation-timing-function: linear;
    background-color: red;
}