.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 2rem;
    height: 8rem;
}

.header h1 {
    font-size: 3rem;
    color: blue;
}

#lol {
    color: royalblue;
}

@keyframes fun {
    0% {
        scale: .92;
        border-radius: 2rem;
        rotate: -6deg;
    }

    5% {
        rotate: 4deg;
    }

    10% {
        rotate: -3deg;
    }

    20% {
        rotate: 2deg;
    }

    40% {
        rotate: -1deg;
    }

    70% {
        rotate: 0deg;
    }

    90% {
        rotate: 0deg;
    }

    100% {
        rotate: 0deg;
    }
}

.header-animation {
    animation-name: fun;
    animation-duration: 1s;
    animation-timing-function: linear;
    background-color: red;
}