.nav-bar {
    display: flex;
    gap: 1rem;
    font-size: 3rem;
}

.nav-bar>a {
    cursor: pointer;
    color: #191919;
    font-size: 2rem;
    text-decoration: none;
    position: relative;
    z-index: 0;
}

.nav-bar>a::before {
    content: "";
    background-color: #F9E784;
    height: 4rem;
    width: 100%;
    height: 2px;
    bottom: 0;
    position: absolute;
    transform-origin: right;
    transform: scaleX(0);
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: transform .2s;
    z-index: -1;
}

.nav-bar>a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}