.Products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav>a {
    color: rgb(242, 0, 0);
    text-decoration: none;
}

.nav>a:hover {
    color: blue;
}

a.active {
    text-decoration: underline;
}