.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-list>ul {
    display: flex;
    flex-direction: column;
    width: 10rem;
    gap: 1rem;
}

.todo-list>h1 {
    font-size: 2.5rem;
    margin: 2rem;
}