body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

* {
	cursor: default;
}

button {
	cursor: pointer;
}