body {
  font-family: Arial, Helvetica, sans-serif;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .7rem;
  background-color: black;
  height: .2rem;
  width: 95%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}