.info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: max-content;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 .08rem .3rem 0 rgb(8, 8, 8, .3);
    border: solid rgb(177, 176, 176) 1px;
}

.inputs{
    border: none;
    padding-top: 1rem;
    border-bottom: solid rgb(195, 195, 195) 1px;
    transition: border-bottom .5s;
}

.inputs:focus{
    outline: none;
    border-bottom: solid rgb(59, 62, 240) 1px;
   
}

.inputs:focus::placeholder {
    translate: 0 -15px;
    font-size: .7rem;
    color: rgb(59, 62, 240);
}

.inputs::placeholder{
    transition: font-size .5s, translate .5s, color .5s;
}